<?xml version="1.0"?>
<Events>
    <Event id="messageEvent">
        <Name>Message Event</Name>
		<ConfigUI>
            <Field id="slackDevice" type="menu">
                <Label>Account:</Label>
            	<List class="indigo.devices" filter="self" />
            </Field>            
            <Field id="slackChannel" type="menu">
                <Label>Channel:</Label>
                <List class="self" method="get_channel_list" dynamicReload="true"/>
                <CallbackMethod>menuChanged</CallbackMethod>            
            </Field>            
		</ConfigUI>
    </Event>
</Events>
