
/Slack2.indigoPlugin.zip

.DS_Store

slack_asyncio.py

slack_client.py

.github/

Slack2.indigoPlugin/.idea/

Slack2.indigoPlugin/Contents/Server Plugin/slack_sdk/__pycache__/

Slack2.indigoPlugin/Contents/Server Plugin/slack_sdk/errors/__pycache__/

*.pyc

*.yml

*.yaml
